<mat-card
  [appCardDir]="item.convenient"
  class="example-card"
  appearance="outlined"
  *ngFor="let item of products"
>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ item.name }}</mat-card-title>
  </mat-card-header>

  <img mat-card-image src="{{ item.image }}" alt="Photo" />

  <mat-card-content>
    <p>{{ item.price }}€</p>
    <p
      *ngIf="!item.available"
      [style.font-weight]="'bold'"
      [style.color]="'red'"
    >
      N/A
    </p>
  </mat-card-content>
</mat-card>
